# Prediction of rainfall using K Nearest Neighbour Classification

## 1. About Dataset
This dataset contains about 10 years of daily weather observations from numerous Australian weather stations.
The Target is whether it will rain or not tomorrow giving the data of today.

## 2. DataSource
datapath = 'F:\DataSets\weather-dataset-rattle-package\weatherAUS.csv'

## 3. Loading the .csv file in the notebook using Pandas

In [1]:
import pandas as pd
path="F:\DataSets\weather-dataset-rattle-package\weatherAUS.csv"
rain_data=pd.read_csv(path)

#viewing head datas
print(rain_data.head())

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  Pressure9am  \
0           W           44.0          W  ...        22.0       1007.7
1         WNW           44.0        NNW  ...        25.0       1010.6
2         WSW           46.0          W  ...        30.0       1007.6
3          NE           24.0         SE  ...        16.0       1017.6
4           W           41.0        ENE  ...        33.0       1010.8

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
0       1007.1       8.0       NaN     16.9     21.8         No      0.0
1       1007.8       NaN       NaN     17.2     24.3         No      0.0
2       1008.7       NaN       2.0     21.0     23.2         No      0.0
3       1012.8       NaN       NaN     18.1     26.5         No      1.0
4       1006.0       7.0       8.0     17.8     29.7         No      0.2

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 24 columns]

## 4. Deleting unimportant data columns
We will delete the Date column and the Risk_MM column in this dataset

In [2]:
rain_data.drop(['Date','RISK_MM','WindGustDir','WindDir9am','WindDir3pm'],axis=1, inplace=True)

In [3]:
#Printing the data
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  \
0          20.0          24.0         71.0         22.0       1007.7
1           4.0          22.0         44.0         25.0       1010.6
2          19.0          26.0         38.0         30.0       1007.6
3          11.0           9.0         45.0         16.0       1017.6
4           7.0          20.0         82.0         33.0       1010.8

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday RainTomorrow
0       1007.1       8.0       NaN     16.9     21.8        No           No
1       1007.8       NaN       NaN     17.2     24.3        No           No
2       1008.7       NaN       2.0     21.0     23.2        No           No
3       1012.8       NaN       NaN     18.1     26.5        No           No
4       1006.0       7.0       8.0     17.8     29.7        No           No

## 5. Modifying the data and calculating the average of 9am and 3pm data

### a. Calculating the average of WindSpeed9am and WindSpeed3pm

In [4]:
rain_data['WindSpeed']=rain_data[['WindSpeed9am','WindSpeed3pm']].mean(axis=1)

In [5]:
#printing the data
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  \
0          20.0          24.0         71.0         22.0       1007.7
1           4.0          22.0         44.0         25.0       1010.6
2          19.0          26.0         38.0         30.0       1007.6
3          11.0           9.0         45.0         16.0       1017.6
4           7.0          20.0         82.0         33.0       1010.8

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday RainTomorrow  \
0       1007.1       8.0       NaN     16.9     21.8        No           No
1       1007.8       NaN       NaN     17.2     24.3        No           No
2       1008.7       NaN       2.0     21.0     23.2        No           No
3       1012.8       NaN       NaN     18.1     26.5        No           No
4       1006.0       7.0       8.0     17.8     29.7        No           No

   WindSpeed
0       22.0
1       13.0
2       22.5
3       10.0
4       13.5

In [6]:
#deleting WindSpeed9am and WindSpeed3pm
rain_data.drop(['WindSpeed9am','WindSpeed3pm'], axis=1, inplace=True)

In [7]:
#printing the modified datsframe
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0         71.0         22.0       1007.7       1007.1       8.0       NaN
1         44.0         25.0       1010.6       1007.8       NaN       NaN
2         38.0         30.0       1007.6       1008.7       NaN       2.0
3         45.0         16.0       1017.6       1012.8       NaN       NaN
4         82.0         33.0       1010.8       1006.0       7.0       8.0

   Temp9am  Temp3pm RainToday RainTomorrow  WindSpeed
0     16.9     21.8        No           No       22.0
1     17.2     24.3        No           No       13.0
2     21.0     23.2        No           No       22.5
3     18.1     26.5        No           No       10.0
4     17.8     29.7        No           No       13.5

### b. Calculating the average of Humidity9am and Humidity3pm

In [8]:
rain_data['Humidity']=rain_data[['Humidity9am','Humidity3pm']].mean(axis=1)

In [9]:
#printing the data
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0         71.0         22.0       1007.7       1007.1       8.0       NaN
1         44.0         25.0       1010.6       1007.8       NaN       NaN
2         38.0         30.0       1007.6       1008.7       NaN       2.0
3         45.0         16.0       1017.6       1012.8       NaN       NaN
4         82.0         33.0       1010.8       1006.0       7.0       8.0

   Temp9am  Temp3pm RainToday RainTomorrow  WindSpeed  Humidity
0     16.9     21.8        No           No       22.0      46.5
1     17.2     24.3        No           No       13.0      34.5
2     21.0     23.2        No           No       22.5      34.0
3     18.1     26.5        No           No       10.0      30.5
4     17.8     29.7        No           No       13.5      57.5

In [10]:
#deleting Humidity9am and Humidity3pm
rain_data.drop(['Humidity9am','Humidity3pm'], axis=1, inplace=True)

In [11]:
#printing the modified datsframe
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8        No
1       1010.6       1007.8       NaN       NaN     17.2     24.3        No
2       1007.6       1008.7       NaN       2.0     21.0     23.2        No
3       1017.6       1012.8       NaN       NaN     18.1     26.5        No
4       1010.8       1006.0       7.0       8.0     17.8     29.7        No

  RainTomorrow  WindSpeed  Humidity
0           No       22.0      46.5
1           No       13.0      34.5
2           No       22.5      34.0
3           No       10.0      30.5
4           No       13.5      57.5

### c. Calculating the average of Pressure9am and Pressure3pm

In [12]:
rain_data['Pressure']=rain_data[['Pressure9am','Pressure3pm']].mean(axis=1)

In [13]:
#printing the data
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8        No
1       1010.6       1007.8       NaN       NaN     17.2     24.3        No
2       1007.6       1008.7       NaN       2.0     21.0     23.2        No
3       1017.6       1012.8       NaN       NaN     18.1     26.5        No
4       1010.8       1006.0       7.0       8.0     17.8     29.7        No

  RainTomorrow  WindSpeed  Humidity  Pressure
0           No       22.0      46.5   1007.40
1           No       13.0      34.5   1009.20
2           No       22.5      34.0   1008.15
3           No       10.0      30.5   1015.20
4           No       13.5      57.5   1008.40

In [14]:
#deleting Pressure9am and Pressure3pm
rain_data.drop(['Pressure9am','Pressure3pm'], axis=1, inplace=True)

In [15]:
#printing the modified datsframe
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday RainTomorrow  WindSpeed  \
0       8.0       NaN     16.9     21.8        No           No       22.0
1       NaN       NaN     17.2     24.3        No           No       13.0
2       NaN       2.0     21.0     23.2        No           No       22.5
3       NaN       NaN     18.1     26.5        No           No       10.0
4       7.0       8.0     17.8     29.7        No           No       13.5

   Humidity  Pressure
0      46.5   1007.40
1      34.5   1009.20
2      34.0   1008.15
3      30.5   1015.20
4      57.5   1008.40

### d.Calculating the average of Cloud9am and Cloud3pm

In [16]:
rain_data['Cloud']=rain_data[['Cloud9am','Cloud3pm']].mean(axis=1)

In [17]:
#printing the data
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday RainTomorrow  WindSpeed  \
0       8.0       NaN     16.9     21.8        No           No       22.0
1       NaN       NaN     17.2     24.3        No           No       13.0
2       NaN       2.0     21.0     23.2        No           No       22.5
3       NaN       NaN     18.1     26.5        No           No       10.0
4       7.0       8.0     17.8     29.7        No           No       13.5

   Humidity  Pressure  Cloud
0      46.5   1007.40    8.0
1      34.5   1009.20    NaN
2      34.0   1008.15    2.0
3      30.5   1015.20    NaN
4      57.5   1008.40    7.5

In [18]:
#deleting Cloud9am and Cloud3pm
rain_data.drop(['Cloud9am','Cloud3pm'], axis=1, inplace=True)

In [19]:
#printing the modified datsframe
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

   Temp9am  Temp3pm RainToday RainTomorrow  WindSpeed  Humidity  Pressure  \
0     16.9     21.8        No           No       22.0      46.5   1007.40
1     17.2     24.3        No           No       13.0      34.5   1009.20
2     21.0     23.2        No           No       22.5      34.0   1008.15
3     18.1     26.5        No           No       10.0      30.5   1015.20
4     17.8     29.7        No           No       13.5      57.5   1008.40

   Cloud
0    8.0
1    NaN
2    2.0
3    NaN
4    7.5

### e. deleting Temp9am and Temp3pm

In [20]:
rain_data.drop(['Temp9am','Temp3pm'], axis=1, inplace=True)

In [21]:
#printing the modified datsframe
print(rain_data.head())

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0   Albury     13.4     22.9       0.6          NaN       NaN           44.0
1   Albury      7.4     25.1       0.0          NaN       NaN           44.0
2   Albury     12.9     25.7       0.0          NaN       NaN           46.0
3   Albury      9.2     28.0       0.0          NaN       NaN           24.0
4   Albury     17.5     32.3       1.0          NaN       NaN           41.0

  RainToday RainTomorrow  WindSpeed  Humidity  Pressure  Cloud
0        No           No       22.0      46.5   1007.40    8.0
1        No           No       13.0      34.5   1009.20    NaN
2        No           No       22.5      34.0   1008.15    2.0
3        No           No       10.0      30.5   1015.20    NaN
4        No           No       13.5      57.5   1008.40    7.5

## 6. Deleting all the NaN values from the dataframe

In [22]:
for col in rain_data.columns:
    rain_data = rain_data[pd.notnull(rain_data[col])]

print(rain_data.head())
print(rain_data.shape)

     Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
5939    Cobar     17.9     35.2       0.0         12.0      12.3
5940    Cobar     18.4     28.9       0.0         14.8      13.0
5941    Cobar     15.5     34.1       0.0         12.6      13.3
5942    Cobar     19.4     37.6       0.0         10.8      10.6
5943    Cobar     21.9     38.4       0.0         11.4      12.2

      WindGustSpeed RainToday RainTomorrow  WindSpeed  Humidity  Pressure  \
5939           48.0        No           No       13.0      16.5   1005.35
5940           37.0        No           No       19.0      19.0   1012.50
5941           30.0        No           No        7.0       7.0   1011.60
5942           46.0        No           No       22.5      32.0   1010.75
5943           31.0        No           No        6.0      29.5   1010.90

      Cloud
5939    3.5
5940    1.0
5941    1.0
5942    3.5
5943    3.0
(60029, 13)

## 7. Changing the values of RainToday and RainTommorow into binary representation

In [23]:
#First for the RainToday
rain_data['RainToday'].replace({"No":0,"Yes":1}, inplace=True)

In [24]:
#printing the modified values

print(rain_data.head())

     Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
5939    Cobar     17.9     35.2       0.0         12.0      12.3
5940    Cobar     18.4     28.9       0.0         14.8      13.0
5941    Cobar     15.5     34.1       0.0         12.6      13.3
5942    Cobar     19.4     37.6       0.0         10.8      10.6
5943    Cobar     21.9     38.4       0.0         11.4      12.2

      WindGustSpeed  RainToday RainTomorrow  WindSpeed  Humidity  Pressure  \
5939           48.0          0           No       13.0      16.5   1005.35
5940           37.0          0           No       19.0      19.0   1012.50
5941           30.0          0           No        7.0       7.0   1011.60
5942           46.0          0           No       22.5      32.0   1010.75
5943           31.0          0           No        6.0      29.5   1010.90

      Cloud
5939    3.5
5940    1.0
5941    1.0
5942    3.5
5943    3.0

In [25]:
#Second for the RainTomorrw
rain_data['RainTomorrow'].replace({"No":0,"Yes":1}, inplace=True)

In [26]:
#printing the modified values

print(rain_data.head())

     Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
5939    Cobar     17.9     35.2       0.0         12.0      12.3
5940    Cobar     18.4     28.9       0.0         14.8      13.0
5941    Cobar     15.5     34.1       0.0         12.6      13.3
5942    Cobar     19.4     37.6       0.0         10.8      10.6
5943    Cobar     21.9     38.4       0.0         11.4      12.2

      WindGustSpeed  RainToday  RainTomorrow  WindSpeed  Humidity  Pressure  \
5939           48.0          0             0       13.0      16.5   1005.35
5940           37.0          0             0       19.0      19.0   1012.50
5941           30.0          0             0        7.0       7.0   1011.60
5942           46.0          0             0       22.5      32.0   1010.75
5943           31.0          0             0        6.0      29.5   1010.90

      Cloud
5939    3.5
5940    1.0
5941    1.0
5942    3.5
5943    3.0

In [27]:
print(rain_data['RainToday'])

5939      0
5940      0
5941      0
5942      0
5943      0
5944      0
5945      0
5946      0
5947      0
5948      0
5949      0
5950      0
5951      0
5952      0
5953      0
5954      0
5955      0
5956      0
5957      0
5958      1
5959      0
5960      0
5961      1
5962      1
5963      0
5964      0
5965      0
5966      0
5967      0
5968      0
         ..
139083    0
139084    0
139085    0
139086    0
139087    0
139088    0
139089    0
139090    0
139091    0
139092    0
139093    0
139094    0
139095    0
139096    0
139097    0
139098    0
139099    0
139100    0
139101    0
139102    0
139103    0
139104    0
139105    0
139106    0
139107    0
139108    0
139109    0
139110    0
139111    0
139112    0
Name: RainToday, Length: 60029, dtype: int64

In [28]:
print(rain_data['RainTomorrow'])

5939      0
5940      0
5941      0
5942      0
5943      0
5944      0
5945      0
5946      0
5947      0
5948      0
5949      0
5950      0
5951      0
5952      0
5953      0
5954      0
5955      0
5956      0
5957      1
5958      0
5959      0
5960      1
5961      1
5962      0
5963      0
5964      0
5965      0
5966      0
5967      0
5968      0
         ..
139083    0
139084    0
139085    0
139086    0
139087    0
139088    0
139089    0
139090    0
139091    0
139092    0
139093    0
139094    0
139095    0
139096    0
139097    0
139098    0
139099    0
139100    0
139101    0
139102    0
139103    0
139104    0
139105    0
139106    0
139107    0
139108    0
139109    0
139110    0
139111    0
139112    0
Name: RainTomorrow, Length: 60029, dtype: int64

In [29]:
#saving the data
rain_data.to_csv("MainData")

## 8.Deleting the Location column

In [30]:
rain_data.drop(['Location'], axis=1, inplace=True)

In [31]:
#printing the modified datsframe
print(rain_data.head())

      MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
5939     17.9     35.2       0.0         12.0      12.3           48.0
5940     18.4     28.9       0.0         14.8      13.0           37.0
5941     15.5     34.1       0.0         12.6      13.3           30.0
5942     19.4     37.6       0.0         10.8      10.6           46.0
5943     21.9     38.4       0.0         11.4      12.2           31.0

      RainToday  RainTomorrow  WindSpeed  Humidity  Pressure  Cloud
5939          0             0       13.0      16.5   1005.35    3.5
5940          0             0       19.0      19.0   1012.50    1.0
5941          0             0        7.0       7.0   1011.60    1.0
5942          0             0       22.5      32.0   1010.75    3.5
5943          0             0        6.0      29.5   1010.90    3.0

## 9.Taking the RainTomorrow column as Target Data

In [32]:
target_data=rain_data['RainTomorrow']
print(target_data)

5939      0
5940      0
5941      0
5942      0
5943      0
5944      0
5945      0
5946      0
5947      0
5948      0
5949      0
5950      0
5951      0
5952      0
5953      0
5954      0
5955      0
5956      0
5957      1
5958      0
5959      0
5960      1
5961      1
5962      0
5963      0
5964      0
5965      0
5966      0
5967      0
5968      0
         ..
139083    0
139084    0
139085    0
139086    0
139087    0
139088    0
139089    0
139090    0
139091    0
139092    0
139093    0
139094    0
139095    0
139096    0
139097    0
139098    0
139099    0
139100    0
139101    0
139102    0
139103    0
139104    0
139105    0
139106    0
139107    0
139108    0
139109    0
139110    0
139111    0
139112    0
Name: RainTomorrow, Length: 60029, dtype: int64

## 10. Deleting the RainTomorrow column

In [33]:
rain_data.drop(['RainTomorrow'], axis=1, inplace=True)

In [34]:
#printing the modified datsframe
print(rain_data.head())

      MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
5939     17.9     35.2       0.0         12.0      12.3           48.0
5940     18.4     28.9       0.0         14.8      13.0           37.0
5941     15.5     34.1       0.0         12.6      13.3           30.0
5942     19.4     37.6       0.0         10.8      10.6           46.0
5943     21.9     38.4       0.0         11.4      12.2           31.0

      RainToday  WindSpeed  Humidity  Pressure  Cloud
5939          0       13.0      16.5   1005.35    3.5
5940          0       19.0      19.0   1012.50    1.0
5941          0        7.0       7.0   1011.60    1.0
5942          0       22.5      32.0   1010.75    3.5
5943          0        6.0      29.5   1010.90    3.0

## 11.Converting the target_data to numpy array

In [35]:
target=target_data.to_numpy()

In [36]:
print(target)

[0 0 0 ... 0 0 0]

## 12.Converting the rain_data to numpy

In [37]:
data=rain_data.to_numpy()

In [38]:
print(data)

[[1.79000e+01 3.52000e+01 0.00000e+00 ... 1.65000e+01 1.00535e+03
  3.50000e+00]
 [1.84000e+01 2.89000e+01 0.00000e+00 ... 1.90000e+01 1.01250e+03
  1.00000e+00]
 [1.55000e+01 3.41000e+01 0.00000e+00 ... 7.00000e+00 1.01160e+03
  1.00000e+00]
 ...
 [2.07000e+01 3.28000e+01 0.00000e+00 ... 3.45000e+01 1.01355e+03
  0.00000e+00]
 [1.95000e+01 3.18000e+01 0.00000e+00 ... 6.00000e+01 1.01280e+03
  1.00000e+00]
 [2.02000e+01 3.17000e+01 0.00000e+00 ... 5.25000e+01 1.01180e+03
  5.50000e+00]]

In [39]:
print(data.size)

660319

In [40]:
print(data.shape)

(60029, 11)

In [41]:
print(target.shape)

(60029,)

In [42]:
print(data.dtype)

float64

In [43]:
print(target.dtype)

int64

## 13. Spliting the data into training and test data and shuffling them

In [44]:
#importing train_test_split method
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(data,target,random_state=0)

In [45]:
#Printing the values
print("X_train shape: {}".format(X_train.shape))

X_train shape: (45021, 11)

In [46]:
print("y_train shape: {}".format(y_train.shape))

y_train shape: (45021,)

In [47]:
print("X_test shape: {}".format(X_test.shape))

X_test shape: (15008, 11)

In [48]:
print("y_test shape: {}".format(y_test.shape))

y_test shape: (15008,)

## 14. Using k-nearest neighbors classification algorithm

In [49]:
#importing KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=100)

In [50]:
#we call the fit method
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=100, p=2,
           weights='uniform')

## 15.Evaluating the model

In [51]:
#We will use the predict method to predict
y_pred=knn.predict(X_test)
print("Test set predictions: {}".format(y_pred))

Test set predictions: [1 0 1 ... 0 0 0]

## 16.Checking Accuracy

In [52]:
import numpy as np
print("Test set score: {:2f}".format(np.mean(y_pred==y_test)))

Test set score: 0.855477

## 17.Making Predictions

In [53]:
#Taking Inputs
print(rain_data.columns)
MinTemp= float(input("Enter the Minimum Tempreature of the day: "))
MaxTemp=float(input("Enter the Maximum Temperature of the day: "))

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'RainToday', 'WindSpeed', 'Humidity', 'Pressure',
       'Cloud'],
      dtype='object')
Enter the Minimum Tempreature of the day: 14.7
Enter the Maximum Temperature of the day: 30.6

In [54]:
Rainfall=float(input("Enter the amount of Rainfall: "))
Evaporation =float(input("Enter the Evaporation: "))

Enter the amount of Rainfall: 2.3
Enter the Evaporation: 0.6

In [55]:
Sunshine = float(input("Enter the sunshine: "))
WindGustSpeed= int(input("Enter the Speed of the strongest wind gust in the 24 hours to midnight: "))

Enter the sunshine: 4.8
Enter the Speed of the strongest wind gust in the 24 hours to midnight: 48

In [56]:
RainToday= int(input("Enter whether it rained today or not: (1 for Yes and 0 for No) "))
WindSpeed= int(input("Enter the wind speed: "))

Enter whether it rained today or not: (1 for Yes and 0 for No) 1
Enter the wind speed: 49

In [57]:
Humidity= int(input("Enter the humidity : "))
Pressure= float(input("Enter the pressure : "))
Cloud= float(input("Enter the fraction of sky covered by cloud: "))

Enter the humidity : 6
Enter the pressure : 1003.7
Enter the fraction of sky covered by cloud: 8.9

In [58]:
X_new= np.array([[MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustSpeed, RainToday, WindSpeed, Humidity,Pressure,Cloud]])
print(X_new)

[[1.4700e+01 3.0600e+01 2.3000e+00 6.0000e-01 4.8000e+00 4.8000e+01
  1.0000e+00 4.9000e+01 6.0000e+00 1.0037e+03 8.9000e+00]]

In [59]:
#Getting the data in the predict function
Prediction=knn.predict(X_new)
print("Prediction is: {}".format(Prediction))
if Prediction == 0:
    print("No, it will not rain tomorrow")
if Prediction == 1:
    print("Yes, it will rain tomorrow")

Prediction is: [0]
No, it will not rain tomorrow